# Login IQ Option
IQ_EMAIL=seu_email@exemplo.com
IQ_PASSWORD=sua_senha

IQ_ACCOUNT=PRACTICE
IQ_ORDER_TYPE=binarias
IQ_ENTRY_AMOUNT=2
IQ_EXPIRATION=1
IQ_STOP_WIN=50
IQ_STOP_LOSS=30

IQ_MARTINGALE=true
IQ_MARTINGALE_LEVELS=2
IQ_MARTINGALE_FACTOR=2.0

IQ_SOROS=true
IQ_SOROS_LEVELS=2

IQ_STRATEGY=escadinha
IQ_ASSET=EURUSD-OTC
IQ_TIMEFRAME=60

IQ_MIN_CANDLES=3
IQ_EMA_FAST=9
IQ_EMA_SLOW=21
IQ_EMA_FILTER=true
